html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
*{
    margin: 0;
    --main-bg-color: #FEF2DB;
    --main-font-color: #263042;
    --nav-bg-color: #263042;
    --nav-font-color: #FEF2DB;
    font-family: "Varela Round", sans-serif;
}

body{
    background: var(--main-bg-color);
    color: var(--main-font-color);
}

nav{
    display: flex;
    background: var(--nav-bg-color);
    position: sticky;
    top: 0;
    min-height: 8vh;
    z-index: 1;
}

nav img{
    width: 25px;
    border-radius: 50%;
    border: 2px solid var(--main-bg-color);
}

nav .img{
    margin: 17px auto auto 25px;
}


.nav-link{
    display: flex;
    align-items: center;
    margin: 0 10px 0 auto;
}
.nav-link > *{
    margin: 0.5vw;
}
.nav-link a{
    color: transparent;
    
}
.nav-link div:nth-child(1){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FEF2DB'%3E%3Cpath d='M16.14 12.33C17.28 11.24 18 9.71 18 8c0-3.31-2.69-6-6-6S6 4.69 6 8c0 1.71.72 3.24 1.86 4.33C3.52 13.05 0 14.94 0 18c0 4 1 4 12 4s12 0 12-4c0-3.06-3.52-4.95-7.86-5.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    height: 1.5rem;
}
.nav-link div:nth-child(2){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FEF2DB'%3E%3Cpath d='M21 18l-8.66-8.66c.42-.86.66-1.82.66-2.84C13 2.91 10.09 0 6.5 0 5.43 0 4.43.26 3.54.72l3.87 3.87c.78.78.78 2.05 0 2.83s-2.05.78-2.83 0L.72 3.54C.26 4.43 0 5.43 0 6.5 0 10.09 2.91 13 6.5 13c1.02 0 1.98-.24 2.84-.66L18 21c0 1.66 1.34 3 3 3s3-1.34 3-3-1.34-3-3-3zm-9.5-5c-.68 0-1.24-.45-1.43-1.07.74-.49 1.37-1.12 1.86-1.86.62.19 1.07.75 1.07 1.43 0 .83-.67 1.5-1.5 1.5zM21 23c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
   background-position: center center;
    background-repeat: no-repeat;
    height: 1.5rem;
}
.nav-link div:nth-child(3){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FEF2DB'%3E%3Cpath d='M16 16s4-10-4-16C4 6 8 16 8 16c-5 0-5 7-4 7s2-3 6-2c0 1 .6 2 2 2s2-1 2-2c4-1 5 2 6 2s0-7-4-7zm-2.6-5.6c-.8.8-2 .8-2.8 0-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0 .8.8.8 2 0 2.8z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    height: 1.5rem;
}
.nav-link div:nth-child(4){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FEF2DB'%3E%3Cpath d='M12 4C5.37 4 0 7.13 0 11c0 1.77 1.14 3.39 3 4.62V21l5.51-3.3c1.1.19 2.27.3 3.49.3 6.63 0 12-3.13 12-7s-5.37-7-12-7z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    height: 1.5rem;
}

footer{
    display: none;
}

.footer{
    color:#F0E9DD;
    background-color: #263042;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.footer .socials{
    margin: 3vh auto;
    display: flex;
    gap: 4vh;
}

.socials{
    display: flex;
    gap: 1.5vw;
}
.socials a{
    cursor: pointer;
    color: var(--nav-font-color);
}
.copyright{
    text-align: center;
}


#about{
    background-color: #C3E0E5;
}

.about-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#about h1{
    padding: 5%;
    font-size: 2em;
    text-align: center;
}

.about-container > *{
    flex: 0;
    min-width: 25%;
}

.about-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 300px;
    border: 5px dashed var(--nav-bg-color);
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}
.about-container div img{
    width: 100%;
}

#skills{
    background-color: #EEEDE7;
}

#skills h1{
    padding: 5%;
    font-size: 2em;
    text-align: center;
}
.skill-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.skillbars-wrapper{
    margin: 2vh;
    width: 30vw;
    min-width: 300px;
    background-color: #263042;
    border-radius: 20px 0 20px 0;
}

.individual{
    padding: 1vh;
}

.title{
    color: white;
    text-transform: uppercase;
    padding: 1vh;
    font-size: 1rem;
}

.skill-bar{
    width: auto;
    height: 2vh;
    background-color: #434853;
    margin: 1vh;
}

.skill-percentage{
    height: 100%;
    background-color: rgb(249, 162, 69);
    position: relative;
}

.fill-in{
    opacity: 0;
    width: 0;
}

.fill-in.active{
    opacity: 1;
    width: auto;
    animation: fillBar 3s ease;
}

.fill-in.active::before{
    z-index: 0;
}

@keyframes fillBar {
    from{
        width: 0;
        opacity: 0;
    }
}

.skill-percentage::before{
    content: attr(percentage);
    text-align: center;
    font-size: 10px;
    width: 25px;
    height: 17.5px;
    background-color: white;
    position: absolute;
    top: -25px;
    right: 0;
    transform: translateX(50%);
    z-index: 0;
}

.skill-percentage::after{
    width: 10px;
    height: 10px;
    content: "";
    background-color: white;
    position: absolute;
    top: -15px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    z-index: 0;
}

#contact{
    background-color: #f0e9dd;
}

#contact h1{
    padding: 5%;
    font-size: 2em;
    text-align: center;
}
.email-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 80%;
    background-color: #263042;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%232E517A' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%232E517A' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
    margin: 5vh auto;
    padding: 1vh;
    color: var(--nav-font-color);
    border-radius: 20px;
    box-shadow: var(--nav-bg-color) 0 0 0 10px;
    border: 5px var(--main-bg-color) dashed;
}

.email-wrap h2{
    text-align: center;
    color: whitesmoke;
}

.form-wrap{
    width: 90%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrap{
    height: 70px;
    width: 100%;
    margin: 10px auto;
}

.text-wrap{
    height: 100%;
    width: 100%;
    margin: 10px auto;
}

input, textarea{
    width: 99%;
    height: 95%;
    resize: none;
    border: solid var(--main-font-color) 3px;
    background-color: whitesmoke;
    font-size: 0.8rem;
}

input:focus,
textarea:focus{
    outline: var(--nav-font-color) solid 1px;
}

#projects{
    background-color: #FDF2ED;
}

#projects h1{
    padding: 5%;
    font-size: 2em;
    text-align: center;
}
#projects h2{
    color: whitesmoke;
}
.projects-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-card-wrap{
    min-width: 30vw;
    background-image: linear-gradient(#5885AF, #6285a5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    border-radius: 20px;
}
.project-card-wrap h2{
    margin: 1vh;
}
.project-description{
    width: 80%;
    background: whitesmoke;
    padding: 1vh;
}
.p3 p:first-child{
    text-align: center;
}
.project-link{
    height: 3vh;
    width: 12vw;
    background: var(--nav-font-color);
    border-radius: 10px;
    margin: 1.5vh;
    padding: 1vh 2vh;
    border: solid whitesmoke;
    cursor: pointer;
}

.preview-btn {
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    font-size: 0.9rem;
}

.project-link{
    background-color: rgb(249, 162, 69);
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-link:hover{
    box-shadow: whitesmoke 0 0 10px;
}

@media (min-width: 700px) {
    html{
        scroll-padding-top: 0;
    }
    .container{
        display: flex;
        width: 100%;
        height: 100%;
    }

    nav{
        display: flex;
        position: sticky;
        top: 0;
        flex-direction: column;
        background-color: var(--nav-bg-color);
        width: 20%;
        height: 100vh;
        min-width: 25vh;
    }

    nav > *{
        margin-right: auto;
        margin-left: auto;
    }

    nav .img{
        display: flex;
        margin: 8vh auto;
    }

    nav img{
        min-width: 10vw;
        border-radius: 50%;
        border: var(--nav-font-color) solid 3px;
    }
    .nav-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2vh auto;
    }
    .nav-link a{
        text-decoration: none;
        color: var(--nav-font-color);
    }
    .nav-link div:nth-child(n){
        padding-bottom: 50%;
        font-size: 1rem;
        background: none;
        height: auto;
        width: auto;
    }

    footer{
        color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        bottom: 1vh;
        width: 100%;
    }
    
    .footer{
        display: none;
    }

    .content{
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    section{
        color: var(--main-font-color);
        min-height: 110vh;
        width: 100%;
        margin-bottom: 5vh;
    }

    #about h1 {
        font-size: 3vw;
    }

    #skills h1{
        font-size: 3vw;
    }


    #projects h1{
        font-size: 3vw;
    }

    .project-card-wrap{
        max-width: 30vw;
    }
    .project-description{
        width: 80%;
        background: white;
    }
    #contact h1{
        font-size: 3vw;
    }
    .email-wrap{
        width: 60%;
        min-height: 500px;
    }

    .form-wrap{
        height: 80%;
    }

    .text-wrap{
        height: 60%;
    }

}