html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
*{
    margin: 0;
    --main-bg-color: #FEF2DB;
    --main-font-color: #263042;
    --nav-bg-color: #263042;
    --nav-font-color: #FEF2DB;
}

/*.container{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*nav{*/
/*    display: flex;*/
/*    position: sticky;*/
/*    top: 0;*/
/*    flex-direction: column;*/
/*    gap: 10%;*/
/*    background-color: var(--nav-bg-color);*/
/*    width: 20%;*/
/*    max-height: 100vh;*/
/*    min-width: 25vh;*/
/*}*/

/*nav > *{*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

/*nav .img{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin-top: 10%;*/
/*}*/

/*nav img{*/
/*    max-width: 50%;*/
/*    border-radius: 50%;*/
/*    border: var(--nav-font-color) solid 3px;*/
/*}*/
/*.nav-link{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/
/*.nav-social{*/
/*    justify-self: flex-end;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/
/*.nav-link a, .nav-social a{*/
/*    text-decoration: none;*/
/*    color: var(--nav-font-color);*/
/*}*/
/*.nav-link div, .nav-social div{*/
/*    padding-bottom: 50%;*/
/*    font-size: 2.2vh;*/
/*}*/

/*.content{*/
/*    background-color: var(--main-bg-color);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 80%;*/
/*}*/

/*!*.sticky{*!*/
/*!*    position: sticky;*!*/
/*!*    top: 0;*!*/
/*!*    background-color: var(--nav-bg-color);*!*/
/*!*    display: flex;*!*/
/*!*    justify-content: end;*!*/
/*!*    padding: 2vh;*!*/
/*!*}*!*/

/*!*.sticky .link a{*!*/
/*!*    text-decoration: none;*!*/
/*!*    color: var(--nav-font-color);*!*/
/*!*    padding: 0 15px;*!*/
/*!*}*!*/

/*!*.sticky .link img{*!*/
/*!*    width: 16px;*!*/
/*!*    height: 16px;*!*/
/*!*}*!*/

/*section{*/
/*    color: var(--main-font-color);*/
/*    min-height: 100vh;*/
/*    width: 100%;*/
/*}*/

/*!*#home .img{*!*/
/*!*    float: right;*!*/
/*!*}*!*/

/*!*#home img{*!*/
/*!*    margin-top: 15vh;*!*/
/*!*    max-width: 50vw;*!*/
/*!*}*!*/

/*!*.home-text h1{*!*/
/*!*    padding: 1% 8%;*!*/
/*!*    font-size: 3vw;*!*/
/*!*    transition: all 1s;*!*/
/*!*}*!*/

/*#about h1{*/
/*    padding: 5%;*/
/*    font-size: 3vw;*/
/*}*/

/*.about-container{*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.about-container > *{*/
/*    flex: 0;*/
/*    min-width: 25%;*/
/*}*/

/*.about-container div{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    min-width: 300px;*/
/*    border: 5px dashed var(--nav-bg-color);*/
/*    margin: 10px;*/
/*    border-radius: 20px;*/
/*    padding: 10px;*/
/*    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);*/
/*    background-color: #ffffff;*/
/*    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");*/
/*}*/

/*.about-container p{*/
/*    text-align: center;*/
/*}*/

/*.about-container div img{*/
/*    max-width: 100%;*/
/*}*/

/*#skills .table-wrapper{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-evenly;*/
/*    align-content: space-between;*/
/*}*/

/*#skills h1{*/
/*    padding: 5%;*/
/*    font-size: 3vw;*/
/*}*/

/*#skills table{*/
/*    margin-bottom: 2em;*/
/*}*/

/*td{*/
/*    border: var(--main-font-color) solid 2px;*/
/*    text-align: center;*/
/*}*/

/*td:only-child{*/
/*    font-size: 3vw;*/
/*    font-weight: bold;*/
/*}*/

/*.skill-bar-container{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 15em;*/
/*    height: 2em;*/
/*}*/

/*.skill-bar{*/
/*    width: 85%;*/
/*    height: 40%;*/
/*    border: 2px solid var(--main-font-color);*/
/*    border-radius: 15px;*/
/*}*/

/*.filler{*/
/*    height: 100%;*/

/*    border-radius: 15px;*/
/*    background-image: linear-gradient(to right, #ad7205, #df9307, #fac86b);*/
/*}*/
/*.f1{*/
/*    width: 70%;*/
/*}*/
/*.f2{*/
/*    width: 75%;*/
/*}*/
/*.f3{*/
/*    width: 60%;*/
/*}*/
/*.f4{*/
/*    width: 80%;*/
/*}*/
/*.f5{*/
/*    width: 90%;*/
/*}*/
/*.f6{*/
/*    width: 75%;*/
/*}*/
/*.f7{*/
/*    width: 65%;*/
/*}*/
/*.f8{*/
/*    width: 75%;*/
/*}*/
/*.f9{*/
/*    width: 100%;*/
/*}*/
/*.f10{*/
/*    width: 85%;*/
/*}*/

/*#projects h1{*/
/*    padding: 5%;*/
/*    font-size: 3vw;*/
/*}*/

/*.projects-wrapper{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*}*/
/*.project-card-wrap{*/
/*    max-width: 30vw;*/
/*    background-color: lightblue;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin: 2vh;*/
/*}*/
/*.project-description{*/
/*    width: 80%;*/
/*    background: white;*/
/*}*/
/*.project-link{*/
/*    height: 5vh;*/
/*    background: yellow;*/
/*    border-radius: 10px;*/
/*    margin: 1vh;*/
/*    padding: 1vh 2vh;*/
/*}*/
/*#contact h1{*/
/*    padding: 5%;*/
/*    font-size: 3vw;*/
/*}*/
/*.email-wrap{*/
/*    height: 60vh;*/
/*    width: 50%;*/
/*    !*background-color: var(--main-font-color);*!*/
/*    background-color: #263042;*/
/*    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%232E517A' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%232E517A' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");*/
/*    margin: auto;*/
/*    padding: 1vh;*/
/*    color: var(--nav-font-color);*/
/*    border-radius: 20px;*/
/*    box-shadow: var(--nav-bg-color) 0 0 0 10px;*/
/*    border: 5px var(--main-bg-color) dashed;*/
/*}*/

/*.email-wrap h2{*/
/*    text-align: center;*/
/*}*/

/*.form-wrap{*/
/*    height: 80%;*/
/*    width: 90%;*/
/*    margin: 5% auto;*/
/*}*/

/*.input-wrap{*/
/*    height: 10%;*/
/*    width: 100%;*/
/*    margin: 2.5% auto;*/
/*    position: relative;*/
/*}*/

/*.text-wrap{*/
/*    height: 60%;*/
/*    width: 100%;*/
/*    margin: auto;*/
/*    position: relative;*/
/*}*/

/*input, textarea{*/
/*    width: 99%;*/
/*    height: 95%;*/
/*    resize: none;*/
/*    border: solid var(--main-font-color) 3px;*/
/*    background-color: var(--nav-font-color);*/
/*}*/

/*.btn{*/
/*    margin: 0 42.5%;*/
/*    background-color: var(--nav-bg-color);*/
/*}*/

/*button{*/
/*    background-color: var(--nav-bg-color);*/
/*    border: 3px solid var(--main-bg-color);*/
/*    color: var(--main-bg-color);*/
/*    width: 150%;*/
/*    padding: 3px;*/
/*    border-radius: 10px 10px;*/
/*    transition: color 0.3s;*/
/*    font-weight: bold;*/
/*}*/

/*button:hover{*/
/*    background-color: var(--main-bg-color);*/
/*    box-shadow: var(--main-bg-color) 0 0 10px 1px;*/
/*    color: var(--main-font-color);*/
/*    font-weight: bold;*/
/*}*/

body{
    background: var(--main-bg-color);
    color: var(--main-font-color);
}

nav{
    display: flex;
    background: var(--nav-bg-color);
    position: sticky;
    top: 0;
    min-height: 8vh;
}

nav img{
    width: 5vh;

}

nav .img{
    margin: auto auto auto 25px;
    border: solid 3px var(--main-bg-color);
    border-radius: 50%;
}

nav img{
    border-radius: 50%;
}

.nav-link{
    display: flex;
    align-items: center;
    margin: 0 10px 0 auto;
}
.nav-link > *{
    margin: 1vw;
}
.nav-link a{
    color: transparent;
    
}
.nav-link div:nth-child(1){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FEF2DB'%3E%3Cpath d='M16.14 12.33C17.28 11.24 18 9.71 18 8c0-3.31-2.69-6-6-6S6 4.69 6 8c0 1.71.72 3.24 1.86 4.33C3.52 13.05 0 14.94 0 18c0 4 1 4 12 4s12 0 12-4c0-3.06-3.52-4.95-7.86-5.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    height: 1.5rem;
}
.nav-link div:nth-child(2){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FEF2DB'%3E%3Cpath d='M16 16s4-10-4-16C4 6 8 16 8 16c-5 0-5 7-4 7s2-3 6-2c0 1 .6 2 2 2s2-1 2-2c4-1 5 2 6 2s0-7-4-7zm-2.6-5.6c-.8.8-2 .8-2.8 0-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0 .8.8.8 2 0 2.8z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    height: 1.5rem;
}
.nav-link div:nth-child(3){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FEF2DB'%3E%3Cpath d='M21 18l-8.66-8.66c.42-.86.66-1.82.66-2.84C13 2.91 10.09 0 6.5 0 5.43 0 4.43.26 3.54.72l3.87 3.87c.78.78.78 2.05 0 2.83s-2.05.78-2.83 0L.72 3.54C.26 4.43 0 5.43 0 6.5 0 10.09 2.91 13 6.5 13c1.02 0 1.98-.24 2.84-.66L18 21c0 1.66 1.34 3 3 3s3-1.34 3-3-1.34-3-3-3zm-9.5-5c-.68 0-1.24-.45-1.43-1.07.74-.49 1.37-1.12 1.86-1.86.62.19 1.07.75 1.07 1.43 0 .83-.67 1.5-1.5 1.5zM21 23c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    height: 1.5rem;
}
.nav-link div:nth-child(4){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FEF2DB'%3E%3Cpath d='M12 4C5.37 4 0 7.13 0 11c0 1.77 1.14 3.39 3 4.62V21l5.51-3.3c1.1.19 2.27.3 3.49.3 6.63 0 12-3.13 12-7s-5.37-7-12-7z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    height: 1.5rem;
}
.about-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#about h1{
    padding: 5%;
    font-size: 2em;
    text-align: center;
}

.about-container > *{
    flex: 0;
    min-width: 25%;
}

.about-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 300px;
    border: 5px dashed var(--nav-bg-color);
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}
.about-container div img{
    width: 100%;
}

#skills .table-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

#skills h1{
    padding: 5%;
    font-size: 2em;
    text-align: center;
}

#skills table{
    margin-bottom: 2em;
    
}

td{
    border: var(--main-font-color) solid 2px;
    text-align: center;
    background-color: rgb(188, 200, 212);
}

td:only-child{
    font-size: 3vw;
    font-weight: bold;
}

.skill-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 2em;
}

.skill-bar{
    width: 85%;
    height: 40%;
    border: 2px solid var(--main-font-color);
    border-radius: 15px;
    background-color: whitesmoke;
}

.filler{
    height: 100%;

    border-radius: 15px;
    background-image: linear-gradient(to right, #ad7205, #df9307, #fac86b);
}
.f1{
    width: 70%;
}
.f2{
    width: 75%;
}
.f3{
    width: 60%;
}
.f4{
    width: 80%;
}
.f5{
    width: 90%;
}
.f6{
    width: 75%;
}
.f7{
    width: 65%;
}
.f8{
    width: 75%;
}
.f9{
    width: 100%;
}
.f10{
    width: 85%;
}



#contact h1{
    padding: 5%;
    font-size: 2em;
    text-align: center;
}
.email-wrap{
    height: 70vh;
    width: 80%;
    background-color: #263042;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%232E517A' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%232E517A' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
    margin: 5vh auto;
    padding: 1vh;
    color: var(--nav-font-color);
    border-radius: 20px;
    box-shadow: var(--nav-bg-color) 0 0 0 10px;
    border: 5px var(--main-bg-color) dashed;
}

.email-wrap h2{
    text-align: center;
}

.form-wrap{
    height: 60%;
    width: 90%;
    margin: 5% auto;
}

.input-wrap{
    height: 10%;
    width: 100%;
    margin: 2.5% auto;
    position: relative;
}

.text-wrap{
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
}

input, textarea{
    width: 99%;
    height: 95%;
    resize: none;
    border: solid var(--main-font-color) 3px;
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.btn{
    margin: 0 42.5%;
    background-color: var(--nav-bg-color);
    border-radius: 10px;
}

button{
    background-color: var(--nav-bg-color);
    border: 3px solid var(--main-bg-color);
    color: var(--main-bg-color);
    width: 150%;
    padding: 5px;
    border-radius: 10px 10px;
    transition: color 0.3s;
    font-weight: bold;
    cursor: pointer;
}


#projects h1{
    padding: 5%;
    font-size: 2em;
    text-align: center;
}

.projects-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-card-wrap{
    min-width: 30vw;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}
.project-card-wrap h2{
    margin: 1vh;
}
.project-description{
    width: 80%;
    background: whitesmoke;
    padding: 1vh;
}
.project-link{
    height: 3vh;
    width: 12vw;
    background: var(--nav-font-color);
    border-radius: 10px;
    margin: 1.5vh;
    padding: 1vh 2vh;
    border: solid var(--main-font-color);
    cursor: pointer;
}

.preview-btn {
    color: var(--main-font-color);
    text-decoration: none;
    text-align: center;
}



@media (min-width: 700px) {
    html{
        scroll-padding-top: 0;
    }
    .container{
        display: flex;
        width: 100%;
        height: 100%;
    }

    nav{
        display: flex;
        position: sticky;
        top: 0;
        flex-direction: column;
        background-color: var(--nav-bg-color);
        width: 20%;
        height: 100vh;
        min-width: 25vh;
    }

    nav > *{
        margin-right: auto;
        margin-left: auto;
    }

    nav .img{
        display: flex;
        margin: 8vh auto;
    }

    nav img{
        min-width: 10vw;
        border-radius: 50%;
        border: var(--nav-font-color) solid 3px;
    }
    .nav-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2vh auto;
    }
    .nav-link a{
        text-decoration: none;
        color: var(--nav-font-color);
    }
    .nav-link div:nth-child(n){
        padding-bottom: 50%;
        font-size: 2.2vh;
        background: none;
        height: auto;
        width: auto;
    }

    .content{
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    section{
        color: var(--main-font-color);
        min-height: 100vh;
        width: 100%;
    }

    #about h1 {
        font-size: 3vw;
    }

    #skills h1{
        font-size: 3vw;
    }

    td:only-child{
        font-size: 25px;
    }


    #projects h1{
        font-size: 3vw;
    }

    .project-card-wrap{
        max-width: 30vw;
    }
    .project-description{
        width: 80%;
        background: white;
    }
    #contact h1{
        font-size: 3vw;
    }
    .email-wrap{
        width: 60%;
        min-height: 500px;
    }

    .form-wrap{
        height: 80%;
    }

    .text-wrap{
        height: 60%;
    }

    .btn{
        height: 20px;
    }

    button{
        width: 150%;
    }

    button:hover{
        background-color: var(--main-bg-color);
        box-shadow: var(--main-bg-color) 0 0 10px 1px;
        color: var(--main-font-color);
        font-weight: bold;
    }

}
